.navBar {
    width: 100vw;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 24px;
    padding: 5px;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav ul li {
    list-style-type: none;
    margin-right: 1em;
}

nav ul li:hover {
    color: rgba(0, 0, 0, 0.705);
}

nav ul li:active {
    background-color: blue;
}

.welcomeSection {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    background-color: #eeeeee;
    padding: 1em;
}